/navcomputer/data/
/unittests/data/
/update/*.tgz
/.coverage
/web/.idea/inspectionProfiles/Project_Default.xml
.idea/csv-plugin.xml
**/__pycache__/
*.o
/navcomputer/sounds/
/venv/
/os-image/2021-01-11-raspios-buster-armhf-lite.zip
/os-image/2021-03-16-ottopi.zip
/imu/data/
