[Unit]
Description=Ottopi Bluetooth remote control service
After=ottopi.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
# Need to run as root in order to access Bluetooth
User=root
WorkingDirectory=/home/pi/ottopi/bt_remote
Environment="PYTHONPATH=bt_manager"
ExecStart=/usr/bin/python3 /home/pi/ottopi/bt_remote/main.py @/home/pi/ottopi/bt_remote/args/rpi.txt
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ottopi-bt

[Install]
WantedBy=multi-user.target
